In [1]:
import pandas as pd
from IPython.display import HTML
from PIL import Image
from IPython.display import display

In [2]:
hotels=pd.read_csv(r"C:\Users\Dell\Downloads\archive (2)\Hotels.csv")

In [3]:
hotels

,HID,HOTEL,PRICE_RUPEES,NUMBER_OF_REVIEWS,Lat,Lng
0,HID1,HOTEL ANURAAG VILLA JAIPUR,898.92,1305,26.927230,75.789207
1,HID2,HILTON JAIPUR,2771.67,4358,26.973697,75.844382
2,HID3,"TRIDENT, JAIPUR",4120.05,499,26.957344,75.842886
3,HID4,THE FERN RESIDENCY JAIPUR,2172.39,278,26.874359,75.816421
4,HID5,"ITC RAJPUTANA, JAIPUR A LUXURY COLLECTION HOTE...",3221.13,6189,26.919313,75.791175
...,...,...,...,...,...,...
249,HID250,COMFORT INN SAPPHIRE JAIPUR,2771.67,130,26.917760,75.811170
250,HID251,HOUSETEL JAIPUR,674.19,44,26.906001,75.802107
251,HID252,GIRISADAN HOMESTAY JAIPUR,4494.60,238,26.912570,75.796529
252,HID253,THE HOSTELLER JAIPUR,449.00,143,26.918242,75.799674
253,HID254,HOZTEL JAIPUR,150.00,128,26.930574,75.791244

In [4]:
hotels.drop_duplicates()

,HID,HOTEL,PRICE_RUPEES,NUMBER_OF_REVIEWS,Lat,Lng
0,HID1,HOTEL ANURAAG VILLA JAIPUR,898.92,1305,26.927230,75.789207
1,HID2,HILTON JAIPUR,2771.67,4358,26.973697,75.844382
2,HID3,"TRIDENT, JAIPUR",4120.05,499,26.957344,75.842886
3,HID4,THE FERN RESIDENCY JAIPUR,2172.39,278,26.874359,75.816421
4,HID5,"ITC RAJPUTANA, JAIPUR A LUXURY COLLECTION HOTE...",3221.13,6189,26.919313,75.791175
...,...,...,...,...,...,...
249,HID250,COMFORT INN SAPPHIRE JAIPUR,2771.67,130,26.917760,75.811170
250,HID251,HOUSETEL JAIPUR,674.19,44,26.906001,75.802107
251,HID252,GIRISADAN HOMESTAY JAIPUR,4494.60,238,26.912570,75.796529
252,HID253,THE HOSTELLER JAIPUR,449.00,143,26.918242,75.799674
253,HID254,HOZTEL JAIPUR,150.00,128,26.930574,75.791244

In [5]:
hotels

,HID,HOTEL,PRICE_RUPEES,NUMBER_OF_REVIEWS,Lat,Lng
0,HID1,HOTEL ANURAAG VILLA JAIPUR,898.92,1305,26.927230,75.789207
1,HID2,HILTON JAIPUR,2771.67,4358,26.973697,75.844382
2,HID3,"TRIDENT, JAIPUR",4120.05,499,26.957344,75.842886
3,HID4,THE FERN RESIDENCY JAIPUR,2172.39,278,26.874359,75.816421
4,HID5,"ITC RAJPUTANA, JAIPUR A LUXURY COLLECTION HOTE...",3221.13,6189,26.919313,75.791175
...,...,...,...,...,...,...
249,HID250,COMFORT INN SAPPHIRE JAIPUR,2771.67,130,26.917760,75.811170
250,HID251,HOUSETEL JAIPUR,674.19,44,26.906001,75.802107
251,HID252,GIRISADAN HOMESTAY JAIPUR,4494.60,238,26.912570,75.796529
252,HID253,THE HOSTELLER JAIPUR,449.00,143,26.918242,75.799674
253,HID254,HOZTEL JAIPUR,150.00,128,26.930574,75.791244

In [6]:
def recommend_hotels(df,min_price,max_price,top_n=10):
    recommended_hotels= df[ (df["PRICE_RUPEES"]>=min_price) & (df["PRICE_RUPEES"]<=max_price) ]
    recommended_hotels= recommended_hotels.sort_values(by="NUMBER_OF_REVIEWS",ascending=False).head(top_n)
    recommended_hotels= recommended_hotels.drop(columns=["NUMBER_OF_REVIEWS"])
#     if not recommended_hotels.empty:
#         print(recommended_hotels.to_string(index=False))
#         print()
#         link = f'<a href="https://www.google.com/maps/@{recommended_hotels["Lat"]},{recommended_hotels["Lng"]},17z">{recommended_hotels["HOTEL"]}</a>'
#         content=f"location: {link}"
#         display(HTML(content))
#     else:
#         print("sorry, hotels are  not available in this price range...")
    if not recommended_hotels.empty:
        print()
        print("Recommended Hotels:")
        count=1
        for index, row in recommended_hotels.iterrows():

            place_name = row['HOTEL']
            price=row["PRICE_RUPEES"]
            print()
        
            print(f"{count}.hotel name: {place_name}")
            print(f"price: Rs {price}")
            link = f'<a href="https://www.google.com/maps/@{row["Lat"]},{row["Lng"]},17z">{row["HOTEL"]}</a>'
            content=f"location: {link}"
            display(HTML(content))
            print()
            count=count+1
    else:
        print("No recommendations found for the given preferences.")

In [7]:
min_p=float(input("enter min price:"))
max_p=float(input("enter max price:"))
recommend_hotels(hotels,min_p,max_p,top_n=10)

enter min price:100
enter max price:700

Recommended Hotels:

1.hotel name: NAHAR SINGH HAVELI JAIPUR
price: Rs 599.28

2.hotel name: HOTEL MOON LIGHT PALACE JAIPUR
price: Rs 599.28

3.hotel name: HOTEL SUGANDH RETREAT JAIPUR
price: Rs 599.28

4.hotel name: THE HOSTELLER JAIPUR
price: Rs 449.0

5.hotel name: BANI PARK HOTEL JAIPUR
price: Rs 224.73

6.hotel name: HOZTEL JAIPUR
price: Rs 150.0

7.hotel name: RATAN NIWAS JAIPUR
price: Rs 524.37

8.hotel name: NANUS HOSTEL JAIPUR
price: Rs 449.46

9.hotel name: CHITCHAT RESTAURANT & GUEST HOUSE JAIPUR
price: Rs 224.73

10.hotel name: HOTEL THE ORION JAIPUR
price: Rs 599.28